  #portfolio .portfolio--content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  #portfolio .portfolio--content .item {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
    position: relative;
    background-color: #ffffff;
    -webkit-transition: all 0.8s ease-in-out;
    transition: all 0.8s ease-in-out;
  }
  #portfolio .portfolio--content .item h3 {
    color: #000000;
    font-weight: 700;
    text-transform: uppercase;
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    opacity: 0;
    -webkit-transition: all 0.8s ease-in-out;
    transition: all 0.8s ease-in-out;
  }
  #portfolio .portfolio--content .item img {
    -ms-flex-negative: 0;
        flex-shrink: 0;
    min-width: 100%;
    min-height: 100%;
  }
  #portfolio .portfolio--content .item:hover > h3 {
    opacity: 1;
  }
  #portfolio .portfolio--content .item:hover > img {
    opacity: 0.3;
  }